{% extends 'base.html' %}

{% block body %}
<div class="d-flex justify-content-center">

<div class="content">
    <h1 class="bold">Press releases</h1>

    <form id="filter" method="post" action="/">
        <input class="btn btn-primary" type="submit" value="All" name="Toggle">
        <input class="btn btn-primary" type="submit" value="IR" name="Toggle" />
        <input class="btn btn-primary" type="submit" value="PR" name="Toggle" />
        <input class="btn btn-primary" type="submit" value="Interim report" name="Toggle" />
        <input class="btn btn-primary" type="submit" value="Annual report" name="Toggle" />

        <input class="btn btn-primary" type="submit" value="Regulatory" name="Toggle" />
        <input class="btn btn-primary" type="submit" value="Report archive" name="Toggle" />
    </form>

    {% for new in news %}
    <a class="press_anchor" href="/view?press={{new['news_id']}}">
        
        <div class="ir_container">
            
            <div class="ir_date">{{new['content']['publish_date']}}</div>
            <div class="ir_title">{{new['content']['title']}}</div>

            <p class="ir_readmore bold">Read more</p>
        </div>
    </a>
    {% endfor %}

    </div>

</div>


{% endblock %}

